@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.modal_wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 75%;
  height: 270px;
  background: $white;
  font-size: 28px;
  text-shadow: none;
  color: $modalColor;
  border-radius: 16px;
  z-index: 9999;

  .title {
    display: block;
    box-sizing: border-box;
    padding: 40px 20px;
    height: 180px;
    text-align: center;
    line-height: 1.8;
    @include border_1px('bottom', $modalborder, 0);
  }

  .button_group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .button {
      height: 90px;
      position: static;
      background: transparent;
      border: none;
      border-radius: 0;
      margin: 0;
      padding: 24px 0;
      color: $modalBtnColor;
      line-height: 1;
    }

    .button_cancel {
      @include border_1px('right', $modalborder, 0);
      font-size: 36px;
      line-height: 90px;
      text-align: center;
    }

    .button_confirm {
      color: $modalConfirm;
    }
  }
}

.mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: rgba($black, .75);
  z-index: 9998;
}
