@import '../../../assets/styles/variables.scss';

.forecast_day_conatainer {
  font-size: 31.2px;

  .day_group {
    border-top: 2px dotted $dotted_border;

    .group_basic {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .week_name {
        display: inline-block;
        width: 160px;
      }
    }

    .condition_img {
      width: 18%;
      text-align: center;

      .condition_image {
        position: relative;
        top: 6px;
        width: 64px;
        height: 64px;
      }
    }

    .precipitation_group {
      display: flex;
      align-items: center;

      .precipitation_icon {
        width: 48px;
        height: 48px;
      }

      .precipitation {
        display: inline-block;
        padding: 10px 10px 10px 0;
        width: 80px;
        font-size: 24px;
        text-align: center;
      }
    }

    .high,
    .low {
      display: inline-block;
      width: 48px;
    }

    .low {
      color: $blue;
    }
  }

  .group_detail_container {
    max-height: 0;
    overflow: hidden;
    transition: .3s all;

    .group_detail {
      display: block;
      margin: 8px 0;
      font-size: 26px;
    }
  }

  .selected {
    height: auto;
    max-height: 168px;
  }

  .day_picker {
    padding-top: 20px;
    font-size: 24px;
    border-top: 2px dotted $dotted_border;

    .five_day {
      display: inline-block;
      margin-right: 20px;
      padding-right: 20px;
      line-height: 1.4;
      border-right: 2px solid $split;
    }
  }

  .list {
    max-height: 800px;
    overflow: hidden;
    transition: max-height 300ms linear;
  }

  .five_item {
    max-height: 380px;
    overflow: hidden;
    transition: max-height 300ms linear;
  }

}
