@import '../../../assets/styles/variables.scss';

.forecast_day_conatainer {
  font-size: 16PX;
  text-align: center;

  .day_group {
    height: 37PX;
    border-top: 2px dotted $dotted_border;

    .group_basic {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .week_name {
        display: inline-block;
        width: 160px;
        text-align: left;
      }
    }

    .condition_img {
      width: 18%;

      .condition_image {
        position: relative;
        top: 6px;
        width: 32PX;
        height: 32PX;
      }
    }

    .precipitation_group {
      display: flex;
      align-items: center;

      .precipitation_icon {
        width: 24PX;
        height: 24PX;
      }

      .precipitation {
        display: inline-block;
        padding: 10px 10px 10px 0;
        width: 80px;
        font-size: 12PX;
      }
    }

    .high,
    .low {
      display: inline-block;
      width: 56px;
    }

    .low {
      color: $blue;
    }
  }

  .group_detail_container {
    max-height: 0;
    overflow: hidden;
    transition: .3s all;

    .group_detail {
      display: block;
      margin: 8px 0;
      font-size: 26px;
    }
  }

  .selected {
    height: auto;
    max-height: 168px;
  }

  .day_picker {
    padding-top: 20px;
    font-size: 24px;
    border-top: 2px dotted $dotted_border;
    text-align: left;

    .five_day {
      display: inline-block;
      margin-right: 20px;
      padding-right: 20px;
      line-height: 1.4;
      border-right: 2px solid $split;
    }

    .unselected_picker {
      color: rgba($white, .24);
      text-shadow: none;
    }
  }

  .list {
    height: auto;
    max-height: 380PX;
    overflow: hidden;
    transition: max-height 350ms linear;
  }

  .five_item {
    max-height: 190PX;
    overflow: hidden;
    transition: max-height 350ms linear;
  }
}
