@import '../../assets/styles/variables.scss';

.detail_content_container {
  display: grid;
  grid-template-columns: 40% 60%;

  .icon {
    width: 140px;
    height: 140px;
    margin: 70px;
  }

  .content_groups {
    width: 100%;

    .content_group {
      display: flex;
      justify-content: space-between;
      padding: 16px;
      font-size: 28px;
      border-bottom: 2px dotted $dotted_border;

      .txt {
        display: inline-block;
      }
    }
  }
}

.content_detail {
  padding: 20px 8px;

  .content_detail_txt {
    display: inline-block;
    margin: 10px 0;
    font-size: 26px;
    font-weight: 400;
  }
}
