.index {
  font-family: -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.54);
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
}
