@import '../../assets/styles/variables.scss';

.summary_wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;

  .cur_temperature_summary {
    position: absolute;
    bottom: 40px;
    width: 100%;

    .temperature_type {
      display: inline-block;
      margin-left: 20px;

      .temperature_type_btn {
        font-size: 44px;
        font-weight: 200;
        padding: 12px;
        background: transparent;
        border: none;
        border-radius: 0;
        margin: 0;
        padding: 0;
        overflow: visible;
        color: $white;

        &::after {
          border: none;
        }
      }
    }

    .condition_summary {
      display: flex;
      align-items: center;
      margin-left: 20px;
    }

    .condition_icon {
      position: relative;
      top: -4px;
      width: 64px;
      height: 64px;
    }

    .condition_txt {
      position: relative;
      top: -6px;
      padding: 0 4px;
      font-size: 36px;
      line-height: 1.3;
    }

    .high_low_temperature {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 200px;
      margin-left: 20px;
    }

    .arrow {
      width: 32px;
      height: 32px;
    }

    .arrow_reverse {
      transform: rotate(180deg);
    }

    .temperature {
      font-size: 32px;
    }

    .cur_temperature {
      display: inline-block;
      margin-left: 10px;
      font-size: 220px;
      font-weight: 100;
      line-height: 1;
    }

    .cur_temperature_symbol {
      display: inline-block;
      font-size: 158px;
      line-height: 158px;
      font-weight: 100;
      vertical-align: top;
    }

    .flickr_info {
      margin-right: 20px;
      text-align: right;
    }

    .flickr_icon {
      width: 64px;
      height: 20px;
    }

    .flickr_txt {
      position: relative;
      top: -1px;
      font-size: 24px;
    }
  }

  .header {
    display: flex;
    align-items: center;
  }

  .region_summary {
    padding-top: 120px;
    margin-left: 20px;

    .location_icon {
      margin-left: 20px;
      width: 70px;
      height: 70px;
    }

    .country,
    .cur_time {
      display: block;
    }

    .city {
      font-size: 52px;
      font-weight: 400;
    }

    .country {
      margin-bottom: 20px;
    }

    .country,
    .cur_time {
      font-size: 32px;
      font-weight: 200;
    }

    .cur_time {
      font-style: italic;
    }
  }

  .is_not_f {
    color: $gray !important;
  }

}
