@import '../../assets/styles/mixins.scss';

.summary_wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &::before {
    content: '';
    position: fixed;
    background: url('https://s.yimg.com/un/api/res/1.2/XykPrfVNHyl_xsWAUmg.vg--/YXBwaWQ9eW13ZWF0aGVyO2NjPTg2NDAwO3E9ODA7cm90YXRlPTA7Zmk9ZmlsbDt3PTcyMDtoPTEyODA7ZnI9MA--/https://s3.us-east-2.amazonaws.com/weather-flickr-images/farm4/3696/9186954484_7f66249600_o') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    will-change: transform;
    z-index: -1;
  }

  .cur_temperature_summary {
    position: absolute;
    bottom: 40px;
    width: 100%;

    .condition_summary {
      margin-left: 10px;
    }

    .condition_txt {
      position: relative;
      top: -6px;
      padding: 0 4px;
      font-size: 36px;
      line-height: 1.3;
    }

    .high_low_temperature {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 220px;
      margin-left: 20px;
    }

    .arrow {
      @include arrow;
    }

    .temperature {
      font-size: 32px;
    }

    .cur_temperature {
      margin-left: 10px;
      font-size: 220px;
      font-weight: 100;
      line-height: 1;
    }

    .flickr_info {
      margin-right: 20px;
      text-align: right;
    }

    .flickr_txt {
      position: relative;
      top: -1px;
      font-size: 24px;
    }
  }

  .region_summary {
    padding-top: 100px;
    margin-left: 20px;

    .city,
    .country,
    .cur_time {
      display: block;
    }

    .city {
      font-size: 52px;
      font-weight: 400;
    }

    .country {
      margin-bottom: 20px;
    }

    .country,
    .cur_time {
      font-size: 32px;
      font-weight: 200;
    }

    .cur_time {
      font-style: italic;
    }
  }

}
