@import '../../assets/styles/mixins.scss';

.summary_wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;

  .cur_temperature_summary {
    position: absolute;
    bottom: 40px;
    width: 100%;

    .condition_summary {
      margin-left: 10px;
    }

    .condition_txt {
      position: relative;
      top: -6px;
      padding: 0 4px;
      font-size: 36px;
      line-height: 1.3;
    }

    .high_low_temperature {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 220px;
      margin-left: 20px;
    }

    .arrow {
      @include arrow;
    }

    .temperature {
      font-size: 32px;
    }

    .cur_temperature {
      margin-left: 10px;
      font-size: 220px;
      font-weight: 100;
      line-height: 1;
    }

    .flickr_info {
      margin-right: 20px;
      text-align: right;
    }

    .flickr_txt {
      position: relative;
      top: -1px;
      font-size: 24px;
    }
  }

  .region_summary {
    padding-top: 60px;
    margin-left: 20px;

    .city,
    .country,
    .cur_time {
      display: block;
    }

    .city {
      font-size: 52px;
      font-weight: 400;
    }

    .country {
      margin-bottom: 20px;
    }

    .country,
    .cur_time {
      font-size: 32px;
      font-weight: 200;
    }

    .cur_time {
      font-style: italic;
    }
  }

}
