@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins.scss';

.content_wrapper {
  position: relative;
  display: inline-block;
  margin: 20px;
  padding: 20px;
  width: calc(100% - 80px);
  background: $content_bg;

  .header {
    display: block;
    margin-bottom: 8px;
    padding-bottom: 4px;
    font-size: 36px;
    @include border_1px('bottom', $white, 0);
  }
}

.precipitation_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 28px;
  margin-top: 20px;

  .precipitation_group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
