@import '../../assets/styles/variables.scss';

.sun_moon_container {
  margin-bottom: 60px;
  font-size: 24px;

  .icon {
    width: 40px;
    height: 40px;
    vertical-align: bottom;
    float: left;
  }

  .moon_parse {
    margin-top: 20px;
    width: 25%;
    font-size: 28px;
    line-height: 1.2;
    float: right;

    .sun_icon_container {
      display: table-cell;
      vertical-align: middle;
    }

    .moon_parse_name {
      display: table-cell;
      padding-left: 12px;
      max-width: 20%;
      vertical-align: middle;
    }
  }

  .sun_graph {
    display: inline-block;
    position: relative;
    width: 552px;
    height: 132px;
    background: url($sun_graph_profile) no-repeat center center;
    background-size: cover;

    .graph_container {
      height: 128px;

      .sun_icon {
        position: absolute;
        left: 44px;
        bottom: -60px;
        width: 42px;
        height: 42px;
        background: url($sun_graph_icon) no-repeat center center;
        background-size: cover;
        // 决定太阳icon位置
        // transform: rotate(100deg);
        transform-origin: 190px;
        transition-timing-function: linear;
      }

      .during_container {
        position: absolute;
        top: 0;
        left: 60px;
        // width 决定光照面位置
        // width: 308px;
        height: 128px;
        overflow: hidden;


        .during {
          width: 340px;
          height: 100%;
          background-image: url($sun_graph_circle);
          background-size: cover;
        }
      }
    }
  }

  .sunrise_sunset_txt {
    position: relative;
    margin-top: 16px;

    .sunrise {
      position: absolute;
      left: 26px;
    }

    .sunset {
      position: absolute;
      right: 100px;
    }
  }
}
