@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins.scss';

.search_wrapper {
  display: block;
  position: fixed;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  height: 80%;
  font-size: 32px;
  background: $black;
  transform: translateY(0);
  transition: 350ms all linear;

  .icon {
    width: 40px;
    height: 40px;
  }

  .container {
    display: flex;
    align-items: center;
    padding: 20px 28px;
    font-size: 28px;
  }

  .search_container {
    position: relative;
    background: rgba($white, .12);

    .input {
      margin-left: 20px;
      margin-right: 60px;
      padding: 6px;
      width: 70%;
      font-size: 28px;
      background: rgba($white, .3);
      text-shadow: none;
    }
  }

  .detech_my_location_container {
    padding: 28px;

    .location_icon {
      margin-right: 20px;
    }
  }

  .history {
    max-height: 80%;
    overflow-y: auto;

    .history_container {
      @include border_1px('bottom', rgba($white, .7), 0);

      .history_icon {
        margin-right: 20px;
      }
    }

    .history_item {
      @include border_1px('bottom', rgba($white, .3), 0);

      .qualified_name {
        position: relative;
        padding: 28px;
        width: 85%;
        text-align: left;
        z-index: 1;
      }


      .cancel_icon {
        position: absolute;
        top: 0;
        right: 40px;
        bottom: 0;
        margin: auto;
        width: 40px;
        height: 40px;
        background: $cancelCircle;
        border-radius: 50%;
        z-index: 1;

        &::before {
          position: absolute;
          content: '';
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          width: 28px;
          height: 4px;
          background: $white;
        }
      }
    }
  }

  .button {
    background: transparent;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    color: $white;

    &::after {
      border: none;
    }
  }

  .close_btn {
    position: absolute;
    right: 40px;
  }
}

.hide_search_wrapper {
  transform: translateY(120%);
  transition: 350ms all linear;
}

.mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
}
