@mixin arrow {
  background: #fff;
  height: 4px;
  width: 24px;
  position: relative;
  display: inline-block;
  transform: rotate(-90deg);

  &:before,
  &:after {
    content: "";
    background: #fff;
    position: absolute;
    height: 4px;
    width: 15px;
  }

  &:before {
    right: -3px;
    bottom: -4px;
    transform: rotate(-45deg);
  }

  &:after {
    right: -3px;
    top: -4px;
    transform: rotate(45deg);
  }
}

@mixin border_1px($position: top, $color: $border_gray, $zIndex: -1) {
  position: relative;

  &::after {
    position: absolute;
    content: '';
    top: -50%;
    bottom: -50%;
    left: -50%;
    right: -50%;
    transform: scale(0.5);
    border-#{$position}: 1px solid $color;
    z-index: $zIndex;
  }
}
