$white: #ffffff;
$dotted_border: rgba($white, .12);

$wind_fan: 'https://s.yimg.com/os/weather/1.0.1/windmill/blade_big@2x.png';
$wind_pole: 'https://s.yimg.com/os/weather/1.0.1/windmill/bigpole@2x.png';
