$white: #ffffff;
$dotted_border: rgba($white, .12);
$blue: #a5d6ff;
$split: rgba($white, .3);
$black: #000000;
$content_bg: rgba($black, .54);

$wind_fan: 'https://s.yimg.com/os/weather/1.0.1/windmill/blade_big@2x.png';
$wind_pole: 'https://s.yimg.com/os/weather/1.0.1/windmill/bigpole@2x.png';
$sun_graph_profile: 'https://s.yimg.com/os/weather/1.0.1/sun/suncurve_static@2x.png';
$sun_graph_icon: 'https://s.yimg.com/os/weather/1.0.1/sun/sun@2x.png';
$sun_graph_circle: 'https://s.yimg.com/os/weather/1.0.1/sun/weather_circle.png';
